.carousel-inner img {
    width: 100%;
    height: auto;
    max-height: 600px;
    object-fit: cover;
}
.carousel {
    max-width: 800px;
    margin: auto;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}
.spacer {
    margin-top: 30px;
}
.titulo {
    display: block;
    margin-bottom: 10px;
}
.contato{
    padding: 20px;
}
